<div class="betting-board">
  <div class="tabs">
    <button class="tab active">Manual</button>
    <button class="tab">Autobet</button>
  </div>

  <div class="form-group">
    <label for="currency">Currency</label>
    <select id="currency" class="form-control">
      <option value="ETH">ETH</option>
    </select>
  </div>

  <div class="form-group">
    <label for="bet-amount">Bet Amount</label>
    <input
      id="bet-amount"
      type="text"
      [(ngModel)]="betAmount"
      class="form-control"
    />
    <input id="bet-usd" type="text" value="$ 1" class="form-control" />
  </div>

  <div class="form-group buttons">
    <button class="button">1/2</button>
    <button class="button">2x</button>
    <button class="button">Max</button>
  </div>

  <div class="form-group">
    <label for="mines">Mines</label>
    <select id="mines" class="form-control">
      <option value="3">3</option>
    </select>
  </div>

  <button class="bet-button" (click)="controlGame()">
    {{ isGameStarted ? "CASH OUT" : "BET" }}
  </button>
</div>
