.betting-board {
  background-color: #0a1720;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  background: #333;
  border: none;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border-radius: 6px;
  height: 32px;
  width: 77px;
  color: #b2b2b2;
  margin: 5px;
}

.tab.active {
  background: #b2b2b2;
  color: #7af0fc;
  background: #ffffff33;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  background: #253E4F;
  border: 1px solid #444;
  border-radius: 4px;
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  background: #333;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  flex: 1;
  margin: 0 2px;
}

.bet-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #18232c;
  font-size: 16px;
  background-color: #7af0fc;
}
