.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  background-color: #0a1720;
  width: fit-content;
  row-gap: 10px;
  column-gap: 10px;
  height: 540px;
  width: 540px;
  margin-left: 22%;
  padding-right: 2%
}

.grid-row {
  display: contents;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 13px;
}

.cell.bomb {
  background-image: url("../assets/bomb.png");
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1f272d;
  background-size: 36px;
  border: 1px solid red;
}

.cell.hidden {
  border: 1px solid;
  background-color: #1f272d;
}

.cell.diamond {
  background-image: url("../assets/diamond.png");
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1f272d;
  border: 1px solid #7af0fc;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.game {
  display: flex;
}

.game-over {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 20px;
  gap: 20px;
  height: 223px;
  width: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293741;
  border-radius: 12px;
}

.modal.loss {
  border: 1px solid red;
}

.modal.win {
  border: 1px solid cyan;
}

.control-board {
}

.win-text {
  height: 29px;
  width: 116px;
  margin-left: 10px;
  color: #7af0fc;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.win-money {
  width: 145px;
  height: 24px;
  color: #7af0fc;
  text-align: center;
}

.loose-text {
  height: 29px;
  width: 132px;
  color: red;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.result-image {
  height: 92px;
  width: 97px;
}

.container {
  background-color: #0a1720;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text-container {
  text-align: center;
}
