<div class="container">
  <div class="game">
    <div class="grid-container">
      <div *ngFor="let row of cells; let i = index" class="grid-row">
        <div *ngFor="let cell of row; let j = index">
          <button
            class="cell"
            [ngClass]="cell.revealed ? cell.type : 'hidden'"
            (click)="cellClicked(i, j)"
          ></button>
        </div>
      </div>
    </div>
    <app-betting-board
      (newGame)="startNewGame($event)"
      (cashOut)="cashOut()"
    ></app-betting-board>
  </div>
  <div class="modal-wrapper" *ngIf="gameOver">
    <div class="modal" [ngClass]="betAmount > 0 ? 'win' : 'loss'">
      <div class="image-text-container">
        <img
          class="result-image"
          [src]="
            betAmount > 0
              ? '../assets/win-diamond.png'
              : '../assets/loose-bomb.png'
          "
        />
        <p [ngClass]="betAmount > 0 ? 'win-text' : 'loose-text'">
          {{ betAmount > 0 ? "YOU WIN!" : "TRY AGAIN" }}
        </p>
        <p *ngIf="betAmount > 0" class="win-money">
          x{{ multiplier }} / {{ accumulatedWinnings }}
        </p>
      </div>
    </div>
  </div>
</div>
